 <header>
  <h1 class="header">CodePath Android Twitter Project</h1>
  <p class="header">A basic Twitter client in Android</p>

  <small>Jump to an exercise:</small>

  <ul class="contents">
    <li><a href="{{ site.base_url }}/index.html">Overview</a></li>
    <li><a href="{{ site.base_url }}/exercises/exercise1.html">Exercise 1</a></li>
    <li><a href="{{ site.base_url }}/exercises/exercise2.html">Exercise 2</a></li>
    <li><a href="{{ site.base_url }}/exercises/exercise3.html">Exercise 3</a></li>
    <li><a href="{{ site.base_url }}/exercises/exercise4.html">Exercise 4</a></li>
    <li><a href="{{ site.base_url }}/exercises/exercise5.html">Exercise 5</a></li>
    <li><a href="{{ site.base_url }}/exercises/exercise6.html">Exercise 6</a></li>
  </ul>

  <small>Download the project:</small>

  <ul class="pills">
    <li class="download"><a class="buttons" href="https://github.com/thecodepath/codepath_tweets_exercises/zipball/master">Download ZIP</a></li>
    <li><a class="buttons github" href="https://github.com/thecodepath/codepath_tweets_exercises">View Source</a></li>
  </ul>

  <p class="header">This project is maintained by <a class="header name" href="https://github.com/thecodepath">thecodepath</a></p>
</header>